$c-DarkestBlue:#201F23;
$c-DarkGrey:#2C2C2C;
$c-SelectedGrey:#272727;
$c-DarkPurple:#7D47AE;
$c-Purple:#B36CF3;
$c-LightPurple:#BF84F5;
$c-LightBlue:#196C85;
$c-Red:#C43333;
$c-Green: #27AE60 ;

.c-GradientPink{
    color:linear-gradient(180deg, rgba(198,14,148,1) 0%, rgba(181,107,247,1) 100%); ;
}
