@use "../../../sass/colors" as *;

.barList{
display: flex;
flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.barsCard{
    padding: 0.5rem;
background-color: $c-DarkGrey;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 0.5rem;
cursor: pointer;
.category{
    color: #9747FF;

}
.nameTag{
    display: flex;
    flex-direction: row;
}
.posStreet{
    color: #9747FF;
    display: flex;
    flex-direction: row;
}
}
.titleButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button{
        background: linear-gradient(90deg, #C110C7, #7D47AE, #54CED6);
        color: white;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        padding:  0.5rem;
    }

}