@use "../../../sass/colors" as *;

.menuDesktop {
  padding-top: 4rem;
  width: 30vw;
  max-height: 100vh;
  background-color: $c-DarkestBlue;
  display: flex;
  flex-direction: column;
  h1 {
    padding: 1rem;
    font-size: 2rem;
  }
}
